@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../assets/photo-1583342394493-2afd7a3b6dda.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) minmax(6rem, 1fr) repeat(3, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: 6rem minmax(6rem, min-content) repeat(5, 1fr);
  grid-gap: 1.2rem;
  margin-top: 2rem;
}

.home {
  display: grid;
  grid-column: 2 / 6;
  grid-row: 1 / 8;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 6rem minmax(2rem, min-content) repeat(4, 1fr);
  grid-gap: 1.6rem;
}

.title {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  color: #12376e;
}

.search-bar {
  display: grid;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.search-input {
  grid-column: 1 / 5;
  padding: .3rem .4rem;
  font-size: 1.3rem;
  border: none;
  border-bottom: .1rem solid #12376e;
  outline: none;
}

.search-btn {
  position: relative;
  grid-column: 5 / -1;
  border: none;
  background-color: grey;
  cursor: pointer;
  border-bottom: .1rem solid #12376e;
}

.no-result {
  grid-column: 1 / 6;
  grid-row: 3 / 4;
  text-align: center;
  color: #333456;
  padding-top: 3rem;
}

.music-container {
  display: grid;
  grid-column: 1 / 6;
  grid-row: 3 / 7;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
}

.music-box {
  display: grid;
  background-color: aliceblue;
  width: 65%;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.music-box-img {

}

.music-box-info {

}